<% if @order.errors.any? %>
  error
  <%= @order.errors.count %>件のエラーが発生しました
  <% @order.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class="container offset-2 my-3">
  <h2>お手紙</h2>
  <div class="row">
    <div class="col-lg-4 my-5">
      <%= attachment_image_tag @order_reply.item, :image, :fill, 250, 250 %>
    </div>
    <div class="col-lg-8 my-3">
      <%= form_with model: @order, url: user_orders_path(@order_reply.reply_id), local: true do |f| %>
      　<div class="form-group">
        　<%= f.label :"返信内容" %>
      　　<%= f.text_area :order_comment, placeholder: "500文字まで", :size=>"60x5", class: 'col-6 form-control' %>
      　</div>
        <%= f.hidden_field :comment_status, :value => 'reply' %> <!--コメントステータス保存-->
        <%= f.hidden_field :item_id, :value => @order_reply.item_id %> <!--アイテムID保存-->
        <%= f.submit "送信", class: 'btn btn-sm btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>